<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <h1>webpack-html-static-page</h1>
  <p>chào thế giới</p>
  <div class="main">
    <div class="sidebar">
      <ul>
        <li><a>Page 1</a></li>
        <li><a>Page 2</a></li>
        <li><a>Page 3</a></li>
        <li><a>Page 4</a></li>
      </ul>
    </div>
    <div class="content">
      <h2>The content</h2>
    </div>
  </div>
</body>
</html>
